<!doctype html>
<html>
  <head>
    <title>Mozilla Persona Example</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://login.persona.org/include.js"></script>
  </head>
  <body>
    <p>
      {% if session.email %}
        You are currently logged in as {{ session.email }}.
        <a href="#" id="logoutBtn">Sign Out</a>
      {% else %}
        You are not currently logged in.
        <a href="#" id="loginBtn">Sign In</a>
      {% endif %}
    </p>
    <script type="text/javascript">
$('#loginBtn').click( function () { navigator.id.request(); } );
$('#logoutBtn').click( function () { navigator.id.logout(); } );

navigator.id.watch({
  loggedInUser: "{{ session.email }}" || null,
  onlogin: function (assertion) {
    // A user wants to log in! Send the assertion to my backend.
    $.post("/login", {"assertion": assertion})
    .done(function () { window.location.reload(); })
    .fail(function () { navigator.id.logout(); });
  },
  onlogout: function () {
    // A user has logged out! Tear down their session.
    $.post("/logout")
    .always(function () { window.location.reload(); });
  }
});
    </script>
  </body>
</html>
